<div class="flex flex-col gap-10">
  <div class="grid grid-cols-2 w-full h-full bg-orange-200 rounded-[10px] justify-center">
    <div class="col-span-1 flex items-center p-4 gap-6 flex-col">
      <div class="px-40 text-justify text-title">
        O melhor cuidado para seu <span class="text-title__friend">melhor amigo!</span>
      </div>
      <div class="description-text ml-40">
        Está esperando o que para proporcionar o melhor para seu pet?
        <p>Seu pet merece o melhor. Descubra a excelência em cuidados e produtos no nosso Pet Shop.</p>
      </div>
      <div>
        <app-button [animate]="true">Agendamento Online</app-button>
      </div>
    </div>
    <div class="col-span-1 flex">
        <img [src]="imagePath" alt="Cachorro" class="w-full h-full">
    </div>
  </div>
  <div class="flex flex-col gap-4">
    <div class="flex justify-between items-center">
      <span class="font-bold text-[20px]">
        Conheça os nossos serviços
      </span>
      <app-button [color]="'#132BEA'" [textColor]="'#fff'"><span class="flex items-center gap-2">Veja mais <app-arrow /></span></app-button>
    </div>
  </div>
</div>
