<div class="grid grid-cols-2 w-full h-full bg-orange-200 justify-center">
  <div class="col-span-1 flex items-center p-4 gap-6 flex-col">
    <div class="px-40 text-justify text-title">
      O melhor cuidado para seu <span class="text-title__friend">melhor amigo!</span>
    </div>
    <div class="description-text ml-40">
      Está esperando o que para proporcionar o melhor para seu pet?
      <p>Seu pet merece o melhor. Descubra a excelência em cuidados e produtos no nosso Pet Shop.</p>
    </div>
    <div>
      <app-button>Agendamento Online</app-button>
    </div>
  </div>
  <div class="col-span-1 flex">
      <img [src]="imagePath" alt="Cachorro" class="w-[2000px] h-auto">
  </div>
</div>
